.button-color-accent {
  width: auto;
}

.container {
  border: #cccccc solid 2px;
  border-radius: 8px;
  padding-inline: 20px;
  background-color: white;
  margin-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 20px auto;
  text-align: center;
}
