@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html, body {
  background-color: rgb(255,242,244);
}

/* Button */
.button-color-accent {
  background-color: palevioletred;
  color: white;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-color-accent:hover {
  background-color: #b72c50;
  color: white;
}

.button-color-accent:focus {
  background-color: #b72c50;
  color: white;
}

.button-color-accent:disabled {
  background-color: lightgray;
  color: white;
  cursor: default;
}
