<div class="modal-header">
  <h4 class="modal-title " id="modal-title">{{fromParent.title}}</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to{{fromParent.action}}<span class="text-warning">{{fromParent.extraInfo}}</span>?</strong></p>
  <p *ngIf="fromParent.permanent" class="text-danger">This operation can not be undone.</p>
  <div *ngIf="fromParent.form" class="form-group">
    <label for="textArea">Please provide the reason.</label>
    <textarea class="form-control" id="textArea" rows="3"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="passBack()">{{fromParent.buttonName}}</button>
</div>
